{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href = "{% static 'styles.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <h1>
                <a href="{% url 'home' %}">
                    <img src="{% static 'logo.png' %}" alt="Islas Server">
                </a>
            </h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <p style='text-align: right;'>Welcome, {{user.username}}. Thanks for logging in.</p>
                    <li>
                        <form class="logout-link" action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Log Out</button>
                        </form>
                    </li>
                    {% else %}
                    <p>Welcome, new user. Please log in or sign up.</p>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>


            <div class="navigation">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'blog:list' %}">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                </ul>
            </div>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
